
html, body{
    /* position: relative; */
    background: rgb(15,19,51);
    background: -moz-linear-gradient(179deg, rgba(15,19,51,1) 0%, rgba(253,240,45,1) 100%);
    background: -webkit-linear-gradient(179deg, rgba(15,19,51,1) 0%, rgba(253,240,45,1) 100%);
    background: linear-gradient(179deg, rgba(15,19,51,1) 0%, rgba(253,240,45,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#0f1333",endColorstr="#fdf02d",GradientType=1);
    background-repeat: no-repeat;
    height: 100%;
}
header{
    width: 100%;
    height: 17vh;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow-y: hidden;
    /* background: #fff; */
}
header > .logo{
    position: absolute;
    top: 0;
}
header > .logo > img{
    height: 110px;
}
.btn-menu-swip{
    position: absolute;
    /* right: 10px; */
    transition: 1s;
    /* background: #00ac39; */
    height: 30px;
    width: 30px;
    transform: translateX(520%);
    overflow: visible !important;
    top: 80px;
    z-index: 500;
}
.btn-main-left{
    transform: translateX(-480%) rotate(180deg);
    /* left: 10px; */
}
#btn-menu > h2{
    text-transform: uppercase;
    font-weight: bold;
    font-size: 2em;
    animation: anim-b 5s linear infinite alternate;
    pointer-events: none;
}
@keyframes anim-b {
    0%{color: #ffffff;}
    50%{color: #000000;}
    100%{color: #ffffff;}
}

.box-nav{
    position: absolute;
    height: 20px;
    top: 90px;
    width: 90%;
    /* background-color: rgb(105, 168, 168); */
    padding: 0;
    transform: translateX(130%);
    overflow: visible;
    /* transform: translateX(70%); */
}
.box-nav-actif{
    transform: translateX(0);
}

/******************la nav*/
nav{
    margin: 0px auto;
    border-radius: 3px;
    width: 85%;
    background: rgb(22, 29, 82);
}
nav > .box-ul{
    width: 80%;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}
nav > .box-ul > a > li{
    font-size: 0.8em;
}
.class-body{
    width: 100%;
}
.class-body > h1,
.class-body > h1 > span {
    font-size: 1.2em;
    padding: 5px 0;
    font-weight: bold;
    color: #fff;
}
/*****************************le form*/
#id-form{
    width: 100%;
}
label{
    font-size: 0.9em;
    font-weight:bold;
    padding-left: 5px;
    color: #fff;
}
.box-input-text,
.box-input-price,
.box-input-quant{
    display: flex;
    flex-direction: column;
}
.box-input-text > input {
    font-size:  1.2em;
    height: 27px;
    font-weight: bold;
    padding: 5px;
}
.box-input-price > input {
    font-size:  1.1em;
    height: 27px;
    font-weight: bold;
    padding: 5px;
}
.box-input-quant > label {
   padding: 0;
}
#put-quant {
    height: 27px;
    font-weight: bold;
    padding: 5px;
    font-size:  1.2em !important;
}
.box-btn{
    width: 10%;
    overflow: visible;
}

#btn-add{
    margin-top: 21px;
    font-size: 1.2em;
    height: 25px;
    font-weight: bold;
    overflow: visible;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#btn-add > i{
    pointer-events: none;
}
/*******************le tri*/
.box-select{
    width: 100%;
}
#trie-cours{
    width: 25%;
    height: 20px;
    background: rgba(15,19,51,1);
    color: #fff;
    outline: none;
}
#trie-cours > option{
    font-weight: 800;
}
/********************************legend*/
.legend{
    width: 100%;
    padding: 0 3px;
}
.legend > .sous-legend{
    width: 100%;
}
.sous-legend > div{
    font-size: 0.8em;
    font-weight: bold;
}
.sous-legend > div:nth-child(4){
    font-size: 0.7em;
}

/********************************************box du total*/
.box-du-total{
    position: fixed;
    background: #00ac39;
    display: flex;
    justify-content:flex-start;
    bottom: 10px;
    padding: 5px;
    border-radius: 5px;
    /* width: 40%; */
    margin-bottom: 5px;
    transform: translate(-50%, 50%);
    left: 50%;
    font-size: 1em;
}
#total{
    padding: 0 5px;
    /* width: 60%; */
}
/******************************Display prod add**/
.no-prod{
    font-weight: bold;
}
.add-de-user{
    width: 100%;
}
.sous-legend{
    display: grid;
    grid-template-columns: 1.8fr 1fr 1fr 1fr 0.5fr;
}
.prod-add-js{
    grid-template-columns: 1.8fr 1fr 1fr 1fr 0.5fr;
}
.btn-supp-new-js {
    border: none;
    border-radius: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn-spp-new-js > i{
    pointer-events: none;
}
.result{
    width: 100%;
}
.result > div{
    font-size: 1em;
    font-weight: bold;
}